body {
    background-color: rgba(0, 0, 7, 0.89);
    font-family: arial, sans-serif;
    font-size: 30px;
    color: #fff;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.calculator-body {
    width: 300px;
    height: 500px;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 7, 0.89) 0 2px 8px 0;
}

.calculator-screen {
    height: 20%;
    background-color: rgba(0, 0, 7, 0.39);
    text-align: right;
    position: relative;
}

.calculator-screen span {
    position: absolute;
    bottom: 15%;
    right: 5%;
}

.calculator-keyboard {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.key {
    width: 25%;
    height: 20%;
    background-color: rgba(54, 54, 56, 0.19);
    border: 1px solid rgba(0, 0, 7, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.key2 {
    width: 50%;
    position: relative;
}

.key2 span {
    position: absolute;
    left: 20%;
}

.color1{
    background-color: rgba(54, 54, 56, 0.89);
}

.color2{
    background-color: rgb(250, 142, 0);
}

.key:hover{
    box-shadow: rgba(0, 0, 7, 0.89) 0px 2px 8px 0px;
}

.key:active{
    box-shadow: inset rgba(0, 0, 7, 0.89) 0px 2px 8px 0px;
}

